<%= form_with(model: @organization, local: true) do |form| %>
<div>
<% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2>
        Fix <%= pluralize(@organization.errors.count, "error") %> errors:
      </h2>
      <ul>
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
</p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
 
<p>
    <%= form.label :size %><br>
    <%= form.number_field :size %>
</p>

  <p>
    <%= form.submit %>
  </p>
  <%end %>