<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @organization.size %>
</p>
 
 <%= link_to 'Edit', edit_organization_path(@organization) %>
<%= link_to 'Back', organizations_path %>
<br><br><br><br><br>
<footer>
<%= button_to 'Delete Organization', organization_path(@organization), :method => :delete, data: { confirm: 'You sure, homie?' } %>
</footer>