<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMatching</title>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield :top_content %>
    <div class="container">
        <h1><%= yield :header %></h1>
        <%= yield %>
        <%= render 'layouts/footer' %>
    </div>
  </body>
</html>